.title-strong {
    font-family: $montAlt;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #2E2E2E;
    margin: 0;
}

.title {
    font-family: $montAlt;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #2E2E2E;
    margin: 0;
}

// заголовок для блоков статьей
.title-2 {
    font-family: $montAlt;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #2E2E2E;
}

.title-3 {
    font-family: $montAlt;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;
    margin: 0;
}

.title-4 {
    font-family: $opensans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #2E2E2E;
}

.title-5 {
    font-family: $opensans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2E2E2E;
}

.txt-1,
.txt-2,
.txt-3,
.txt-4
    {
    font-family: $opensans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #2E2E2E;
}

.txt-1 {
    font-size: 14px;
}

.txt-2 {
    font-size: 16px;
}

.txt-3 {
    font-size: 18px;
    line-height: 160%;
}
.txt-4 {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.str {
    font-weight: bold;
}




.flx {
    display: flex;
}

.flx-cen {
    display: flex;
    align-items: center;
}

.flx-btw {
    display: flex;
    justify-content: space-between;
}
.flx-btw-cen{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.price{
    font-family: $montAlt;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;
}



.link {
    background-image: url(../img/icons/link.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    display: inline-block;
    font-family: $opensans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #B4B4B4;

    &:hover {
        color: #B4B4B4;
    }
}

.link-2{
    font-family: $opensans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #2173EF;
    border-bottom: 1px dashed #C3D9F9;
    &:hover{
        border-bottom: none;
        color: lighten(#2173EF, 10%);
    }
}

.date {
    background-image: url(../img/icons/calendar.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
    font-family: $opensans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #B4B4B4;
    // margin: 20px 0;
    display: inline-block;

    &:hover {
        color: #b4b4b4cc;
    }
}

.star-rating {
    background-image: url(../img/icons/star.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.logo {
    img {
        max-width: 100%;
    }
}

.lang {
    &__list {
        display: flex;
        margin: 0 !important;
        margin-bottom: 0 !important;
        height: 100%;
    }

    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
    }

    &-active {
        font-weight: 800;
    }
}

@media screen and (max-width: 377px) {
    .sec-pro {
        a {
            margin-left: 15px !important;
            padding-left: 28px !important;
        }

        .mob-menu-btn {
            margin-left: 15px !important;
        }
    }

    .phone {
        a {
            font-size: 12px !important;
        }
    }
}


.main-menu {
    .nav {
        display: flex;
        align-items: center;
        margin: 0;

        &__item {
            margin-right: 30px;
        }

        &__link {
            font-family: $opensans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
        }

        &-active {
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .main-menu {
        .nav {
            display: flex;
            align-items: center;
            margin: 0;

            &__item {
                margin-right: 20px;
            }

            &__link {
                font-family: $opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: #FFFFFF;
            }

            &-active {
                padding: 7px 10px;
            }
        }
    }
}


.phone {
    a {
        font-family: $opensans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
    }
}

.btn-catalog {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

    a {
        background-image: url(../img/icons/catalog.svg);
        padding-left: 40px;
        display: inline-block;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}


.catalog {
    display: none;
    padding: 40px 60px;
    background: #fff;
    top: 160px;
    z-index: 100;

    .close {
        position: absolute;
        z-index: 100;
        top: 30px;
        right: 40px;
        cursor: pointer;
    }

    ul {
        margin: 0;
    }

    &__list {
        border-right: 1px solid #E8E8E8;

        li {
            padding: 10px 0;
            padding-left: 40px;

            a {
                font-family: $opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #2E2E2E;

                &:hover {
                    color: #2E2E2E;
                }
            }
        }

        .drop {
            &::before {
                display: block;
                content: '+';
                font-size: 16px;
                color: #2E2E2E;
                position: absolute;
                left: 30px;
            }
        }

        .drop-active {
            a {
                color: #2173EF;

                &:hover {
                    color: #2173EF;
                }
            }

            &::before {
                display: block;
                content: '-';
                font-size: 16px;
                color: #2173EF;
                position: absolute;
                left: 30px;
            }
        }
    }

    .list-dropped {
        max-height: 340px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 80px;

        li {
            padding: 10px 0;
            page-break-inside: avoid;
            break-inside: avoid;

            a {
                font-family: $opensans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #2E2E2E;
            }
        }
    }
}

.catalog-active {
    display: block;
    position: fixed;
}


.search {
    &__form {
        background: #fff;
        display: flex;
        height: 50px;
        align-items: center;
        padding: 0 20px;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 4px;

        button {
            border: none;
            background: none;
            background-image: url(../img/icons/search.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 22px;
            height: 22px;
            border: none;
            outline: none;
        }

        input {
            width: 100%;
            height: 22px;
            margin-left: 10px;
            border: none;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;

            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }

        input::placeholder {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #B4B4B4;
        }
    }
}

.sec-pro {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .mob-search-btn {
        display: none;
    }

    .profile {
        background-image: url(../img/icons/profile.svg);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 35px;
        margin-left: 40px;
    }

    .cart {
        background-image: url(../img/icons/cart.svg);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 35px;
        margin-left: 40px;
    }
}


.mob-menu-btn {
    display: none;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;

    // top: 43px;
    .burger {
        display: block;
        height: 2px;
        width: 24px;
        content: '';
        background: #fff;
        border-radius: 50px;
        position: absolute;
        top: calc(50% - 2px);

        &::before {
            display: block;
            height: 2px;
            width: 24px;
            content: '';
            background: #fff;
            border-radius: 50px;
            position: absolute;
            top: -6px;
        }

        &::after {
            display: block;
            height: 2px;
            width: 24px;
            content: '';
            background: #fff;
            border-radius: 50px;
            position: absolute;
            top: 6px;
        }
    }
}



.menu-mobile {
    display: none;
    position: absolute;
    height: 100vh;

    .mnu-mob-shad {
        display: block;
        background: rgba(0, 0, 0, 0);
        position: fixed !important;
        right: 0;
        bottom: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 100;
    }

    .mnu-mob-shad-active {
        display: block;
        background: rgba(0, 0, 0, 0.692);
    }

    &__wrp {
        min-width: 320px;
        min-height: 100vh;
        background: #fff;
        display: block;
        position: fixed;
        z-index: 300;
        top: 0;
        right: 0;
        bottom: 0;

        .title-m {
            display: none;
        }

        .mob-close {
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 320;
        }

        .cont-m {
            padding-left: 50px;
            margin-top: 70px;
            overflow-y: scroll;
            height: 100%;
            margin-right: 10px;
        }

        .cont-m::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: #F9F9F9;
        }

        .cont-m::-webkit-scrollbar {
            width: 5px;
            background-color: #F9F9F9;
        }

        .cont-m::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #E8E8E8;
        }

        .main-menu-m {
            &__item {
                padding-bottom: 20px;
            }

            &__link {
                font-family: $opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #2E2E2E;

                &:hover {
                    color: #2E2E2E;
                }
            }

            .tlph {
                display: none;
            }
        }

        .mob-category {
            padding-bottom: 120px;

            &__list {
                position: relative;

                .drop {
                    &::before {
                        display: block;
                        content: '+';
                        font-size: 20px;
                        line-height: 23px;
                        color: #2E2E2E;
                        position: absolute;
                        z-index: 700;
                        left: -23px;
                    }
                }

                .drop-active {
                    a {
                        color: #2173EF;
                    }

                    &::before {
                        display: block;
                        content: '-';
                        font-size: 16px;
                        color: #2173EF;
                        position: absolute;
                        left: -23px;
                    }
                }

                .drop-menu {
                    li {
                        padding-bottom: 20px;

                        a {
                            font-family: $opensans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 22px;
                            color: #2E2E2E;
                        }
                    }
                }
            }

            &__item {
                padding-bottom: 20px;

            }

            &__link {
                font-family: $opensans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #2E2E2E;

                &:hover {
                    color: #2E2E2E;
                }
            }
        }
    }
}

.menu-mobile-active {
    display: block !important;
}



.tag {
    display: inline-block;
    margin: 5px 5px 5px 0 !important;

    a {
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #2E2E2E;
        border: 1px solid #C3D9F9;
        border-radius: 117px;
        padding: 3px 10px 3px 33px;
        background-image: url(../img/icons/tag-1.svg);
        background-repeat: no-repeat !important;
        background-position: 10px center !important;

        &:hover {
            color: #2E2E2E;
        }
    }

    &-active {
        a {
            border: 1px solid #2173EF;
            background: #2173EF;
            color: #fff;
            background-image: url(../img/icons/tag-2.svg);

            &:hover {
                color: #fff;
            }
        }
    }
}

.pagination {
    font-family: $opensans;
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;

    &__item {
        border: 1px solid #2173EF;
        border-radius: 100px;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 14px;
        line-height: 19px;
        color: #2173EF;

        &:hover {
            border: 1px solid #2E2E2E;
            color: #2E2E2E;
        }
    }

    &-active {
        background: #2173EF;
        color: #fff;

        &:hover {
            border: 1px solid #2173EF;
            background: #2173EF;
            color: #fff;
        }
    }

    &__dots {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.1em;
        color: #2E2E2E;
        display: flex;
        align-items: flex-end;
        padding-bottom: 13px;
    }
}


// Кнопочки btn button

.btn-1 {
    font-family: $opensans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 8px 15px;
    background: #2173EF;
    box-shadow: 0px 6px 10px rgba(33, 115, 239, 0.2);
    border-radius: 50px;
    transition: .3s;

    &:hover {
        background: #0048B6;
        box-shadow: 0px 3px 5px rgba(33, 115, 239, 0.3);
        border-radius: 50px;
    }
}


.btn-2{
    font-family: $opensans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2173EF;
    box-shadow: 0px 6px 10px rgba(33, 115, 239, 0.3);
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    padding: 8px 15px;
    transition: 0.4s;
    &:hover{
        background: #0048B6;
        box-shadow: 0px 3px 5px rgba(33, 115, 239, 0.3);
    }
}

.btn-3{
    font-family: $opensans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2173EF;
    background: #FFFFFF;
    border: 2px solid #2173EF;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 12px 22px;
    transition: all 0.4s;
    &:hover{
        border: 3px solid #2173EF;
        box-sizing: border-box;
    }
}


.btn-grad,
.btn-grad-sm {
    font-family: $opensans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(126.77deg, #2173EF 15.6%, #C03CD6 85.6%);
    box-shadow: 0px 6px 10px rgba(192, 60, 214, 0.2);
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    transition: all .4s;

    &:hover {
        transition: all .4s;
        background: linear-gradient(110.01deg, #0048B6 15.6%, #86009C 85.6%);
        box-shadow: 0px 3px 5px rgba(134, 0, 156, 0.3);
        border-radius: 50px;
    }
}
.btn-grad-sm{
    font-size: 10px;
    padding: 8px 15px;
}





.breadcrumbs {
    padding: 80px 0;

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__item {
        &:first-child {
            a {
                padding-left: 0;
            }
        }

        a {
            padding: 0 10px;
            border-right: 1px solid #B4B4B4;
            font-family: $mont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 13px;
            color: #2E2E2E;

            &:hover {
                color: #2E2E2E;
            }
        }
    }
}



// FROMS Формы 

.input-1,
.input-phone{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    padding: 15px 20px;
    margin-bottom: 30px;
    input{
        width: 100%;
        height: 100%;
        border: none;
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #B4B4B4;
        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
        &::placeholder{
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.input-phone{
    input{
        background-image: url(../img/icons/phone.svg);
        background-repeat: no-repeat;
        // background-position: 20px center;
        // padding-left: 50px;
    }
}

.input-4{
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
    &::placeholder{
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
}







.dropdown-text{
    padding: 40px 0 160px 0;
    &__title{
        margin-bottom: 60px;
    }

    &__read{
        img{
            margin-left: 7px;
            transition: 0.3s;
        }
    }
    &__droptxt{
        position: relative;
        overflow: hidden;
        transition: 500ms ease;
        height: auto;
        max-height: 350px;
        transition: max-height 0.5s;
        &:after{
            display: block;
            content: '';
            width: 100%;
            bottom: 0;
            height: 200px;
            position: absolute;
            background: linear-gradient(181.39deg, rgba(255, 255, 255, 0) 4.33%, #FFFFFF 95.67%);
        }
    }
    .dropdown-text__droptxt-active{
        transition: 0.5s ease;
        max-height: 1500px;
        &:after{
            display: none;
        }
    }
    .dropdown-text__read{
        margin-top: 50px;
    }
    .dropdown-text__read-active{
        img{
            transform: rotate(180deg);
            margin-left: 7px;
        }
    }
}