@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

a {
    text-decoration: none !important;
}

button {
    cursor: pointer;
}

.body-fixed {
    position: fixed !important;
    height: 100vh;
    width: 100%;
}





.advantages {
    padding: 80px 0;

    &__item {
        display: flex;

        img {
            padding-right: 20px;
            // width: 78px;
        }
    }
}



.services {
    padding: 80px 0 40px 0;

    .itm-ser {
        overflow-y: hidden;
        margin-bottom: 40px;

        &:hover {
            .services__link {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }

    &__item {
        padding: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
    }

    &__image {
        img {
            width: 100%;
        }
    }

    &__title {
        padding: 40px 0 20px 0;
        margin: 0;
        font-family: $montAlt;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #2E2E2E;
    }

    &__link {
        opacity: 0;
        transition: 0.4s ease-in;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateY(-300px);
        background: $grad;
        padding: 20px;
        margin: 0 15px;
        border-radius: 4px;

        &:after {
            background-image: url(../img/icons/bg-link.svg);
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
            display: block;
            content: '';
            position: absolute;
            bottom: 15px;
            right: 15px;
        }

        &-title {
            font-family: $montAlt;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            padding-top: 20px;
        }

        &-text {
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 180%;
            color: #FFFFFF;
        }
    }
}




.design {
    background: #F9F9F9;
    height: 508px;
    margin: 80px 0 160px 0;

    h3,
    p {
        margin: 0;
        margin-bottom: 40px;
    }

    &__image {
        img {
            max-width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 508px;
    }

    &__text {
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #2E2E2E;
    }

    &__order {
        font-family: $opensans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: $grad;
        padding: 15px 30px;
        border: none;
        box-shadow: 0px 6px 10px rgba(192, 60, 214, 0.2);
        border-radius: 50px;
        transition: 0.3s;

        &:hover {
            box-shadow: 0px 12px 10px rgba(192, 60, 214, 0.2);
        }
    }
}

.about-us {
    padding: 80px 0;

    .row {
        padding-top: 40px;
    }

    &__txt {
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #2E2E2E;
    }

    .flx-rt {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        max-width: 100%;
    }

    .start-video {
        position: absolute;
        cursor: pointer;
        transition: all 0.3s;
        border: 4px solid #fff;
        border-radius: 150px;

        img {
            width: 70px;
            height: 70px;
        }
    }

    .element-animation {
        animation: animationFrames linear 4s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames linear 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animationFrames linear 4s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: animationFrames linear 4s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: animationFrames linear 4s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%;
    }

    @keyframes animationFrames {
        0% {
            transform: scaleX(1.00) scaleY(1.00);
        }

        25% {
            transform: scaleX(1.07) scaleY(1.07);
        }

        50% {
            transform: scaleX(1.14) scaleY(1.14);
        }

        75% {
            transform: scaleX(1.07) scaleY(1.07);
        }

        100% {
            transform: scaleX(1.00) scaleY(1.00);
        }
    }

    div.thumbnail_container {
        width: 598px;
        height: 100%;
        overflow: hidden;
        background-color: #000;
        border-radius: 5px;
    }

    img.thumbnail {
        margin-top: -50px;
        opacity: 0.9;
        border-radius: 5px;
    }

}



.reviews-wrap {
    padding: 80px 0 40px 0;

    .row {
        margin-top: 80px;
    }

    .rating {
        margin-left: 110px;
        margin-bottom: 8px;
    }


    .review {
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 2px;
        position: relative;
        min-height: 100%;

        .persone {
            display: flex;

            &__photo {
                position: absolute;
                top: -50px;
            }

            &__info {
                padding-left: 100px;

                .date {
                    margin: 0;
                }
            }

            &__name {
                font-family: $montAlt;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #2E2E2E;
                padding-top: 20px;
            }
        }

        &__text {
            padding: 20px;
        }
    }
}


.latest-news {
    padding: 80px 0;

    .row {
        margin-top: 80px;
    }

    .col-md-3 {
        padding: 0 10px !important;
    }

    .news {
        min-height: 100%;
        border: 1px solid #E8E8E8;
        border-radius: 4px 4px 4px 4px;

        &__img {
            width: 100%;
        }

        &__body {
            padding: 20px;
            .date{
                margin: 20px 0;
            }
        }

        &__title {
            line-height: 15px;

            a {
                font-family: $montAlt;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 13px;
                color: #2E2E2E;
            }

            margin: 0;
        }

        &__text {
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 180%;
            color: #2E2E2E;
            margin: 0;
        }
    }
}



.callback {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 160px 0;

    &__img {
        margin-right: 20px;
    }

    &__title {
        font-family: $montAlt;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        color: #2E2E2E;
    }

    &__text {
        margin-top: 10px;
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #2E2E2E;
        margin-bottom: 40px;
    }

    &__inpt {
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 4px;
        width: 335px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        margin-bottom: 16px;
        input {
            width: 100%;
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #B4B4B4;
            border: none;
            margin: 0 !important;
            padding-left: 25px;
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
    }

    &__btn {
        font-family: $opensans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 12px 22px;
        background: $grad;
        border: none;
        box-shadow: 0px 6px 10px rgba(192, 60, 214, 0.2);
        border-radius: 50px;
        transition: .3s;

        &:hover {
            box-shadow: 0px 12px 10px rgba(192, 60, 214, 0.2);
        }
    }
}


.link-list {
    background: #F9F9F9;
    padding: 80px 0;

    &__title {
        font-family: $montAlt;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #2E2E2E;
        margin: 0;
        margin-bottom: 20px;
    }

    &__link {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: #2E2E2E;
        border-bottom: 1px solid #B4B4B4;

        &:hover {
            color: #2E2E2E;
        }
    }

    &__link-big {
        font-family: $montAlt;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #2E2E2E;
        margin: 20px 0 0 0;
        display: inline-block;
        border-bottom: 1px solid #B4B4B4;

        &:hover {
            color: #2e2e2ef5;
        }
    }

    .sec {
        border-right: 1px solid #E8E8E8;

        &:last-child {
            border-right: none;
        }
    }
}