.prod-wrapp {
    overflow: hidden;

    .cataloglist {
        padding-top: 60px;
    }
}



.prod-title {
    margin-bottom: 80px !important;
}

.ad-fl {
    display: flex;
    justify-content: space-between;
}

.product-images {
    margin-bottom: 40px;
    position: relative;

    .slider-big {
        border-radius: 4px;
        border: 1px solid #E8E8E8;

        img {
            max-width: 100%;
        }
    }

    .s-bs {
        background: #fff;
        display: block;
        padding: 0px 2px 10px 2px;
        position: absolute;
        bottom: 74px;
        right: -2px;
        display: flex;
    }

    .prev-prod,
    .next-prod {
        background: #fff;
        z-index: 3;
        width: 15px;
        height: 30px;
        border: none;
        margin: 0 13px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../img/icons/ar-bt-s.svg);
    }

    .prev-prod {
        right: 60px;

        &:hover {
            transform: rotate(180deg);
            background-image: url(../img/icons/ar-bt-s-b.svg);
        }
    }

    .next-prod {
        transform: rotate(180deg);

        &:hover {
            transform: rotate(0);
            background-image: url(../img/icons/ar-bt-s-b.svg);
        }
    }

    .slider-itm {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        img {
            max-width: 83px;
            max-height: 60px;
            border-radius: 4px;
            border: 1px solid #E8E8E8;
        }

        .slick-slide,
        .slick-cloned {
            margin-right: .5px !important;
        }
    }
}





.product-descr {
    .dropdown-text {
        padding-bottom: 40px;

        &__droptxt {
            max-height: 800px;
        }
    }

    .dropdown-text__droptxt-active {
        max-height: 1500px;
    }

    .dropdown-text__title {
        margin-bottom: 40px;
    }

}






.self-cal {
    margin: 0;
    line-height: 160%;
}


.add-template {
    margin-top: 50px;

    &__title {
        margin-bottom: 40px;
    }
}

.url-template {
    p {
        margin: 0;
    }

    &__inp {
        width: 50%;

        input {
            font-size: 14px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }

    &__frmb {
        margin-top: 10px;
    }

    &__quest {
        display: block;
        background-image: url(../img/icons/quest.svg);
        background-position: left center;
        padding-left: 30px;
        height: 30px;
        margin-left: 40px !important;

        a {
            color: #B4B4B4;
            border-bottom: 1px dashed #B4B4B4;
            line-height: 17px;

            &:hover {
                border: none;
                color: #B4B4B4;
            }
        }
    }


    &__other {
        margin-top: 20px;
    }
}


.choose {
    margin-top: 20px;
    display: flex;
}

.chosen {
    margin-left: 40px;

    &__t {
        margin-right: 20px !important;
    }

    &__tag {
        display: flex;
        align-items: center;

        &-close {
            width: 17px;
            padding-left: 5px;
            cursor: pointer;
        }
    }
}










.parameters {
    margin-top: 80px;

    &__wrapp {
        margin-top: 40px;
        background: #F9F9F9;
        border-radius: 4px;
        padding: 0 20px;
    }

    &__item {
        padding: 20px 0 !important;
        border-bottom: 1px solid #E8E8E8;
        max-height: 60px;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        position: relative;

        &:last-child {
            border-bottom: none;
        }
    }

    .status-a {
        &:after {
            display: block;
            content: '';
            background-image: url(../img/icons/status-a.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 23px;
        }
    }

    .status-b {
        &:after {
            display: block;
            content: '';
            background-image: url(../img/icons/status-b.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 23px;
        }
    }

    &__title {
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 20px;

        h3 {
            position: relative;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                position: absolute;
                background-image: url(../img/icons/ar-59.svg);
                background-position: center center;
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                right: -20px;
                top: 4px;
                transition: .4s;
            }
        }

        &-active {
            h3 {
                &:after {
                    transform: rotate(180deg);
                }
            }

            .parameters__content {
                display: block;
            }
        }
    }


    &__content {
        color: #212121;
        transition: max-height 0.4s;
        // max-height: 0;
        // overflow: hidden;
        // transition: max-height 0.3s ease-out;
    }

    .parameters__content-active {
        max-height: 900px;
        padding-bottom: 40px;
        transition: max-height 0.4s;
    }

    .wrp-dh {
        height: 100px;
        display: flex !important;
    }

    .slct {
        min-width: 100% !important;
        outline: none !important;
        padding-right: 20px !important;
    }

    .gk-img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100px;
        margin-right: 50px;
    }

    .form-control__wrp {
        padding: 0 20px;
        background: #fff;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        display: flex;
        &-ic{
            position: relative;
            right: 10px;
        }
    }

    .form-control {
        padding: 0;
        border: transparent;
        outline: 0 !important;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    }

    .form-control:focus {
        border: transparent;
        outline: 0 !important;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    }



    .size {
        margin-top: 20px;
        margin-bottom: 20px;

        .form-control__wrp {
            min-width: 100% !important;

            .slct {
                min-width: 100% !important;
            }
        }
    }

    .or {
        margin: 20px 0;
    }

    .size-form {
        display: flex;

        input {
            margin-right: 20px;
        }
    }

    .substrate {
        .form-control__wrp {
            margin: 10px 0;
            min-width: 100% !important;

            .slct {
                min-width: 100% !important;
            }
        }
    }

}








.order-sec {
    margin-top: 50px !important;
}

.ord-s-r {
    margin-top: 40px;
}

.specifications {
    &__title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

.mob-tl{
    display: none;
    &__item{
        width: 50%;
        &:first-child{
            margin-right: 20px;
        }
    }
}


.printing {
    margin: 30px 0 20px 0;

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__title {
        margin-right: 10px;
        display: flex;
        align-items: center;

        h3 {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        margin-left: 0px;

        input {
            visibility: hidden;
            position: absolute;
            top: 0;
        }

        label {
            margin-bottom: 0;
            margin-left: 10px;
            height: 50px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            box-sizing: border-box;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                border: 1px solid #2173EF;
                color: #2173EF;
                cursor: pointer;
            }
        }

        .radio-btn-active {
            border: 1px solid #2173EF;
            color: #2173EF;
        }
    }
}






.time-limit {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-end;

    &__title {
        transform: rotate(-90deg);
        max-width: 10px;
        height: 10px;
        // position: relative;
        // bottom: 10px;
        // left: 30px;
        margin-bottom: 15px;
    }


    &__row {
        background: #F9F9F9;
        border-radius: 4px;
        display: flex;
        align-items: center;
        min-width: 100%;
        padding: 12px 20px;
        margin-bottom: 10px;

        h5 {
            width: 100px;
            margin: 0;
        }
    }

    &__list {
        display: flex;
        margin: 0;
    }

    &__item {
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        text-align: center;
        color: #2E2E2E;

        input {
            visibility: hidden;
            position: absolute;
            top: 0;
        }

        .time-btn {
            width: 60px;
            height: 50px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background: #2173EF;
                color: #fff;
                cursor: pointer;
            }
        }

        .time-btn-active {
            background: #2173EF;
            color: #fff;
        }

    }
}





.calc-wrp {
    margin: 90px 0 60px 0;
}

.calc {
    margin-top: 70px;
    margin-bottom: 80px;
    display: flex;

    &__left {
        display: flex;
        align-items: center;
    }

    &__price {}

    &__sign {
        margin: 0 20px;
    }

    &__form {
        margin-top: -30px;

        p {
            margin: 0;
        }
    }

    &__intpf {
        width: 93px;
        height: 50px;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: center;
    }

    &__sum {
        &-vl {
            font-family: $montAlt;
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            color: #2E2E2E;
            padding-right: 10px;
        }
    }


    &__right {
        display: flex;
        align-items: center;
        margin-left: 40px;

        .buy {}

        .or {
            margin: 0 20px;
        }

        .btn-2,
        .btn-3 {
            padding: 12px 22px;
            box-sizing: border-box;
            font-size: 12px;
        }

        .btn-3 {
            margin-right: 20px;

            &:hover {
                padding: 11px 21px;
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .calc {
        flex-flow: column;

        &__right {
            margin-left: 0;
            margin-top: 50px;
        }
    }

    .time-limit {
        &__title {
            left: 0px;
        }
    }
}


@media screen and (max-width: 992px) {
    .ord-s-r{
        flex-flow: column-reverse;
    }
    .printing {
        &__item {
            label {
                width: 84px;
            }
        }
    }
    .time-limit {
        margin-bottom: 50px;
        &__title{
            margin-bottom: 40px;
            margin-top: 50px;
            margin-left: 50px;
        }
        &__item {    
            .time-btn {
                width: 84px;
            }
        }
    }
    .calc__title {
        margin-top: 50px;
    }
}

@media screen and (max-width: 870px) {
    .gk-img {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 850px) {
    .ord-s-r{
        flex-flow: column-reverse;
    }
    .printing {
        &__item {
            label {
                width: 60px;
            }
        }
    }
    .time-limit {
        &__item {    
            .time-btn {
                width: 60px;
            }
        }
    }
}

@media screen and (max-width: 685px) {
    .url-template__frmb{
        flex-flow: column;
        align-items: flex-start;
        .url-template__inp{
            width: 100%;
        }
        .url-template__quest{
            margin-left: 0 !important;
            margin-top: 20px;
        }
    }
    .url-template__other{
        .choose{
            .btn-grad-sm{
                width: 160px;
            }
            flex-flow: column !important;
        }
        .chosen{
            margin-left: 0;
            margin-top: 20px;
        }
    }
    .hid-tl{
        display: none;
    }
    .mob-tl{
        display: flex;
    }
    .specifications__title {
        margin-top: 50px;
    }
}

@media screen and (max-width: 610px){
    .gk-img{
        max-width: 80px;
        max-height: 80px;
    }
    .calc{
        &__sum{
            &-vl{
                font-size: 16px;
            }
            &-trg{
                display: none;
            }
        }
        &__sign{
            margin: 0 10px;
        }
        &__right{
            display: flex;
            flex-flow: column;
            .or{
                margin: 20px 0;
            }
            .btn-3{
                margin-right: 0;
                margin-bottom: 20px;
            }
            .btn-2,
            .btn-3{
                min-width: 100%;
            }
        }
    }
}