.modal-dialog {
    max-width: 1110px !important;
}


.templ-w {
    .mod-t {
        text-align: center;
        padding: 40px 0;
        border-bottom: 1px solid #E8E8E8;
        position: relative;

        h4 {
            margin: 0;
        }

        .close {
            position: absolute;
            right: 45px;
            top: 45px;
        }
    }

    .mb {
        margin: 70px 0 !important;
    }
}










.scrl {
    max-height: 780px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
    max-height: 777px;
    margin-bottom: 20px;
}

.scrl::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F9F9F9;
}

.scrl::-webkit-scrollbar {
    width: 5px;
    background-color: #F9F9F9;
}

.scrl::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E8E8E8;
}


.mob-sl-nav-tpl {
    display: none;
}



.layout {

    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 40px;

    &:last-child {
        border-bottom: none;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__stat {
        color: #2173EF !important;
        border-bottom: 1px solid #C3D9F9;
        background: none;
        cursor: pointer;
    }

    .layout__stat-active {
        color: #2E2E2E !important;
        font-weight: bold !important;
        border-bottom: none;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: -20px;
            width: 18px;
            height: 18px;
            background-image: url(../img/icons/status-a.svg);
            background-repeat: no-repeat;
        }
    }

    &__body {
        position: relative;
        min-height: 100%;
    }


}



.temp-filt {
    background: #F9F9F9;
    border-radius: 4px;
    padding: 40px 20px;

    &__goto {
        input {
            width: 100%;
            text-align: left;
            padding: 15px 20px;
        }
    }

    &__set {
        margin-top: 40px;

        .o-b {
            margin-top: 20px;
            margin-bottom: 20px;

            .form-control__wrp {
                min-width: 47.5%;
                display: flex;

                &-ic {
                    position: relative;
                    right: 25px;
                }
            }
        }

        .slct {
            padding-left: 20px !important;
            position: relative;
        }

        .form-control {
            padding: 0;
            border: transparent;
            outline: 0 !important;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);

            &__wrp {
                display: flex;

                &-ic {
                    position: relative;
                    right: 25px;
                }
            }
        }

        .form-control:focus {
            border: transparent;
            outline: 0 !important;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
        }

        .tag-s {
            margin-top: 40px;
        }
    }
}


.tpl-other {
    margin: 80px 0;

    &__bt {
        display: flex;
    }

    .cht {
        color: #2E2E2E !important;
        margin-left: 20px;

        a {
            font-family: $opensans;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 180%;
            color: #2E2E2E !important;

            &:hover {
                color: lighten(#2E2E2E, 10%);
            }
        }
    }
}


// слайдер 



.ug-gallery-wrapper .ug-strip-panel {
    background-color: transparent !important;
}

.ug-thumbs-strip {}

.ug-panel-handle-tip,
.ug-zoompanel {
    display: none !important;
}

.ug-item-wrapper:after {
    width: 45px;
    height: 100%;
    content: '';
    /*	display: block;
	position: absolute;*/
    z-index: 20;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity .2s ease-in-out;
}

.ug-slider-wrapper:after {
    width: 45px;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity .2s ease-in-out;
}

.ug-button-fullscreen,
.ug-arrow-left,
.ug-arrow-right {
    z-index: 10 !important;
}







@media screen and (max-width: 600px) {
    .mod-t {
        h4 {
            font-size: 20px;
            display: block;
            margin: 0 20px !important;
        }

        .close {
            position: absolute;
            right: 15px !important;
            top: 15px !important;
        }
    }
}




@media only screen and (max-width : 768px) {

    .modal-body {
        padding-left: 0;
        padding-right: 0;
    }

    .ug-button-fullscreen {
        left: 20px !important;
        top: initial !important;
        bottom: 4px !important;
    }

    .ug-arrow-left {
        position: absolute;
        margin: 0px;
        left: initial !important;
        right: 18% !important;
        top: initial !important;
        bottom: 11px !important;
        width: 8px !important;
        height: 25px !important;
        transform: rotate(0) !important;
    }

    .ug-arrow-right {
        position: absolute !important;
        margin: 0px !important;
        left: initial !important;
        top: initial !important;
        right: 5% !important;
        bottom: 11px !important;
        width: 8px !important;
        height: 25px !important;
        transform: rotate(0) !important;
    }

    .ug-slider-wrapper::after {
        width: 100% !important;
        height: 45px !important;
        right: initial !important;
        top: initial !important;
        left: 0 !important;
        bottom: 0 !important;
        background: rgba(0, 0, 0, 0.2) !important;
        transition: opacity .2s ease-in-out !important;
    }

    .ug-arrow-right {
        background-position: -7px 0px !important;
    }

    .product_containter {
        padding-left: 5px !important;
        padding-right: 0 !important;
    }

}


@media only screen and (max-width : 500px) {
    // адаптив для слайдера в котором будут слайдеры 

    .mob-sl-nav-tpl {
        display: flex;
        font-family: $montAlt;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        color: #2E2E2E;
        margin-bottom: 50px;
        align-items: center;
        justify-content: space-around;

        .num-slides {
            color: #C3D9F9;
            margin-left: 5px;
        }

        .sins-left,
        .sins-right {
            background-color: #C3D9F9;
            width: 45px;
            height: 45px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                mask-image: url(/img/icons/ar_l_g.svg);
                mask-repeat: no-repeat;
                background-color: #fff;
                display: block;
                width: 12px;
                height: 18px;
            }

            &:focus,
            &:active {
                background-color: #2173EF;
            }
        }

        .sins-right {
            transform: rotate(180deg);
        }
    }

    // END адаптив для слайдера в котором будут слайдеры 
}