@charset "UTF-8";
button {
  border: none; }

.btn-01-l,
.btn-01-m,
.btn-01-s {
  background: #2173EF;
  -webkit-box-shadow: 0px 6px 10px rgba(33, 115, 239, 0.2);
  box-shadow: 0px 6px 10px rgba(33, 115, 239, 0.2);
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .btn-01-l:hover,
  .btn-01-m:hover,
  .btn-01-s:hover {
    background: #0048B6;
    -webkit-box-shadow: 0px 3px 5px rgba(33, 115, 239, 0.3);
    box-shadow: 0px 3px 5px rgba(33, 115, 239, 0.3);
    border-radius: 50px; }
  .btn-01-l:active,
  .btn-01-m:active,
  .btn-01-s:active {
    background: #fff;
    color: #0048B6;
    border: 2px solid #0048B6; }

.btn-01-l {
  padding: 15px 30px; }

.btn-01-m {
  padding: 12px 22px; }

.btn-01-s {
  padding: 8px 15px; }

.btn-02-l,
.btn-02-m,
.btn-02-s {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2E2E2E;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .btn-02-l:hover,
  .btn-02-m:hover,
  .btn-02-s:hover {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px; }

.btn-02-l {
  padding: 15px 30px; }

.btn-02-m {
  padding: 12px 22px; }

.btn-02-s {
  padding: 8px 15px; }

.btn-03-l,
.btn-03-m,
.btn-03-s {
  background: -webkit-linear-gradient(337.63deg, #2173EF 15.6%, #C03CD6 85.6%);
  background: -o-linear-gradient(337.63deg, #2173EF 15.6%, #C03CD6 85.6%);
  background: linear-gradient(112.37deg, #2173EF 15.6%, #C03CD6 85.6%);
  -webkit-box-shadow: 0px 6px 10px rgba(192, 60, 214, 0.2);
  box-shadow: 0px 6px 10px rgba(192, 60, 214, 0.2);
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .btn-03-l:hover,
  .btn-03-m:hover,
  .btn-03-s:hover {
    background: -webkit-linear-gradient(337.63deg, #2173EF 15.6%, #C03CD6 95.6%);
    background: -o-linear-gradient(337.63deg, #2173EF 15.6%, #C03CD6 95.6%);
    background: linear-gradient(112.37deg, #2173EF 15.6%, #C03CD6 95.6%);
    -webkit-box-shadow: 0px 6px 10px rgba(192, 60, 214, 0);
    box-shadow: 0px 6px 10px rgba(192, 60, 214, 0); }

.btn-03-l {
  padding: 15px 30px; }

.btn-03-m {
  padding: 12px 22px; }

.btn-03-s {
  padding: 8px 15px; }

.link-11 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2173EF;
  border-bottom: 1px solid #C3D9F9;
  margin: 0; }

.title-001 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: #2E2E2E;
  margin: 0; }

.title-01 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: #2E2E2E;
  margin: 0; }

.title-02 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #2E2E2E;
  margin: 0; }

.title-03 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2E2E2E;
  margin: 0; }

.title-04 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #2E2E2E;
  margin: 0; }

.title-05 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #2E2E2E;
  margin: 0; }

.text-01 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #2E2E2E; }

.text-02 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #2E2E2E; }

.text-03 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #2E2E2E; }

.text-04 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #B4B4B4; }

.profile-wrapper {
  padding: 80px 0; }

.profile-title {
  margin-bottom: 80px;
  font-size: 26px; }

.mob-cr-page {
  display: none; }

.profile-header {
  border-bottom: 1px solid #C3D9F9;
  display: block; }

.lk-mob-btn {
  display: none; }

.profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  inline-size: 100%; }
  .profile-menu .mb-men-title {
    display: none; }
  .profile-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0; }
  .profile-menu__helpsec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0; }
    .profile-menu__helpsec li {
      margin-right: 20px; }
      .profile-menu__helpsec li a {
        background-image: url(/img/icons/support.svg);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 26px; }
  .profile-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    padding: 40px 0;
    position: relative; }
    .profile-menu__item a {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2E2E2E; }
      .profile-menu__item a:hover {
        color: #2E2E2E; }
  .profile-menu .item-active {
    position: relative; }
    .profile-menu .item-active a {
      color: #2173EF; }
      .profile-menu .item-active a:hover {
        color: #2173EF; }
    .profile-menu .item-active::after {
      display: block;
      content: '';
      height: 5px;
      background: #2173EF;
      border-radius: 4px;
      width: 100%;
      position: absolute;
      bottom: -3px; }

.add {
  min-width: 24px;
  min-height: 24px;
  background: #C03CD6;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: -25px;
  bottom: 54px;
  padding: 2px; }

.profile-person {
  padding: 80px 0; }

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0px; }
  .profile__avatar {
    overflow: hidden;
    border-radius: 100px; }
    .profile__avatar img {
      max-width: 100%; }
  .profile__rsc {
    margin-left: 20px; }

.manager {
  background: -webkit-linear-gradient(328.69deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
  background: -o-linear-gradient(328.69deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
  background: linear-gradient(121.31deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
  border-radius: 4px;
  padding: 27px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 0px; }
  .manager__name p {
    margin-bottom: 5px; }

.poflx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.replenish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .replenish .btn-01-m {
    margin-right: 30px;
    margin-bottom: 20px; }

.ls {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #B4B4B4;
  margin-bottom: 20px; }
  .ls span {
    font-size: 16px;
    line-height: 22px;
    color: #2E2E2E; }

.text-pay {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #B4B4B4;
  margin-bottom: 20px; }

.balance {
  background: #F9F9F9;
  border-radius: 4px;
  padding: 40px 20px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .balance__count, .balance__limit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-style: normal; }
    .balance__count p, .balance__limit p {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #B4B4B4; }
    .balance__count span, .balance__limit span {
      font-weight: bold;
      font-size: 16px;
      line-height: 160%;
      color: #2E2E2E; }

.last-orders__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .last-orders__line .oos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px; }

.mttb {
  margin-top: 40px; }

.table-wrap {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 40px !important; }

.table-1 tr {
  display: -ms-grid;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  -ms-grid-columns: 2fr 6fr 3fr 2fr 3fr;
  grid-template-columns: 2fr 6fr 3fr 2fr 3fr;
  border-bottom: 1px solid #E8E8E8;
  padding: 20px 0; }
  .table-1 tr:last-child {
    border-bottom: none; }
  .table-1 tr td:last-child {
    text-align: right; }

.allorders {
  margin: 40px 0; }
  .allorders .alflx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 40px; }

.sort-line {
  margin: 70px 0 40px 0; }
  .sort-line .form-group {
    position: relative;
    margin: 0; }
    .sort-line .form-group label {
      position: absolute;
      margin: 0;
      top: -20px; }
    .sort-line .form-group input[type="date"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(/img/icons/calendar.svg) no-repeat center center;
      background-size: 17px 17px;
      width: 20px;
      height: 20px;
      border-width: thin; }
    .sort-line .form-group input {
      padding-top: 24px;
      padding-bottom: 24px;
      padding-right: 7px;
      padding-left: 10px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #2E2E2E; }
  .sort-line .sh-result {
    margin-right: 20px; }
  .sort-line .res-num {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .sort-line .res-num label {
      position: absolute;
      top: -20px; }
    .sort-line .res-num .select-3 {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #2E2E2E;
      padding: 14px 20px;
      margin: 0;
      width: 95px; }
  .sort-line .btnsortsec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.sort-np {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sort-prev,
.sort-next {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #B4B4B4;
  -webkit-mask-image: url(/img/icons/ar_l_g.svg);
  mask-image: url(/img/icons/ar_l_g.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }
  .sort-prev:hover, .sort-prev:active, .sort-prev:focus,
  .sort-next:hover,
  .sort-next:active,
  .sort-next:focus {
    background-color: #2173EF; }

.sort-next {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-bottom: 5px;
  margin-left: 30px; }

.table-sort {
  min-width: 100%; }
  .table-sort__head tr {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    -ms-grid-columns: minmax(-webkit-max-content, 85px) minmax(-webkit-max-content, 190px) minmax(-webkit-max-content, 60px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 140px);
    -ms-grid-columns: minmax(max-content, 85px) minmax(max-content, 190px) minmax(max-content, 60px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 140px);
    grid-template-columns: minmax(-webkit-max-content, 85px) minmax(-webkit-max-content, 190px) minmax(-webkit-max-content, 60px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 140px);
    grid-template-columns: minmax(max-content, 85px) minmax(max-content, 190px) minmax(max-content, 60px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 140px); }
    .table-sort__head tr th {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #B4B4B4;
      cursor: pointer; }
  .table-sort__body .mob-table {
    display: none; }
  .table-sort__body tr {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-grid-columns: minmax(-webkit-max-content, 85px) minmax(-webkit-max-content, 190px) minmax(-webkit-max-content, 60px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 140px);
    -ms-grid-columns: minmax(max-content, 85px) minmax(max-content, 190px) minmax(max-content, 60px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 140px);
    grid-template-columns: minmax(-webkit-max-content, 85px) minmax(-webkit-max-content, 190px) minmax(-webkit-max-content, 60px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 100px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 140px);
    grid-template-columns: minmax(max-content, 85px) minmax(max-content, 190px) minmax(max-content, 60px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 140px);
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8; }
    .table-sort__body tr:hover {
      background: #F9F9F9 !important;
      border-bottom: 1px solid #F9F9F9; }
    .table-sort__body tr td {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      color: #2E2E2E; }

.ct {
  text-align: center;
  position: relative; }

.alert-ico {
  border: 1px solid #C3D9F9;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
  color: #C3D9F9;
  cursor: pointer; }

.alert-ico-active {
  background: #2173EF;
  color: #fff;
  border: 1px solid #2173EF; }

.sort {
  font-size: 10px;
  position: absolute;
  margin-left: 2px;
  color: #C3D9F9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.sort-active span {
  color: #2173EF;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.alert-1 {
  display: none;
  position: absolute;
  z-index: 2;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  min-width: 390px;
  max-width: 390px;
  top: 37px;
  text-align: left;
  margin-bottom: 20px; }
  .alert-1__head {
    border-bottom: 1px solid #E8E8E8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .alert-1__close {
    cursor: pointer; }

.alert-2 {
  right: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 37px; }

.alert-docs {
  background: #F9F9F9;
  border-radius: 4px;
  padding: 20px;
  margin-top: 37px; }
  .alert-docs h4 {
    margin-bottom: 20px; }
  .alert-docs a {
    display: inline-block; }

.create-invoice {
  margin-top: 80px; }

.invcreated {
  max-width: 375px !important; }
  .invcreated .modal-header {
    padding: 40px; }
  .invcreated__body {
    padding: 40px !important; }
  .invcreated__list {
    padding: 40px 0 80px 0; }
    .invcreated__list span {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #2E2E2E; }

.fr-hd {
  display: none; }

.fr-hd-active {
  display: block; }

.partnerka {
  margin: 40px 0; }

.flx-ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F9F9F9;
  border-radius: 4px;
  margin: 40px 0;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .percent__sec {
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center;
    width: 50%; }
    .percent__sec:first-child {
      border-right: 1px solid #E8E8E8; }
  .percent__num {
    margin-bottom: 10px;
    background: -webkit-linear-gradient(326.31deg, #2173EF 15.6%, #C03CD6 85.6%);
    background: -o-linear-gradient(326.31deg, #2173EF 15.6%, #C03CD6 85.6%);
    background: linear-gradient(123.69deg, #2173EF 15.6%, #C03CD6 85.6%);
    -webkit-background-clip: text;
    background-clip: text;
    /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent;
    /* Прозрачный текст */
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 100%; }

.about-referal {
  margin-top: 40px; }
  .about-referal p {
    padding: 20px 0; }

.generate-ref {
  background: -webkit-linear-gradient(350.29deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
  background: -o-linear-gradient(350.29deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
  background: linear-gradient(99.71deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
  border-radius: 4px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .generate-ref .copy-link {
    margin-bottom: 80px; }
  .generate-ref .lbl {
    margin-top: 24px;
    margin-bottom: 10px; }
  .generate-ref .ref-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .generate-ref .ref-form p {
      margin: 0; }
    .generate-ref .ref-form input {
      margin: 0;
      width: 300px; }
  @media (min-width: 768px) and (max-width: 1200px) {
    .generate-ref .ref-form input {
      width: 200px; } }
  @media (min-width: 768px) and (max-width: 950px) {
    .generate-ref .ref-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .generate-ref .ref-form input {
        width: 300px;
        margin-bottom: 20px; } }
  @media screen and (max-width: 576px) {
    .generate-ref .ref-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .generate-ref .ref-form input {
        width: 300px;
        margin-bottom: 20px; } }
  @media screen and (max-width: 410px) {
    .generate-ref .ref-form input {
      width: 240px;
      margin-bottom: 20px; } }

.head-title-ref {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.table-ref {
  min-width: 100%;
  border: 1px solid #E8E8E8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  padding: 40px 30px;
  margin-top: 40px;
  margin-bottom: 80px; }
  .table-ref__head tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(-webkit-max-content, 60%) minmax(-webkit-max-content, 32%) minmax(-webkit-max-content, 8%);
    -ms-grid-columns: minmax(max-content, 60%) minmax(max-content, 32%) minmax(max-content, 8%);
    grid-template-columns: minmax(-webkit-max-content, 60%) minmax(-webkit-max-content, 32%) minmax(-webkit-max-content, 8%);
    grid-template-columns: minmax(max-content, 60%) minmax(max-content, 32%) minmax(max-content, 8%);
    padding-bottom: 20px; }
    .table-ref__head tr th {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #B4B4B4;
      cursor: pointer; }
      .table-ref__head tr th:last-child {
        text-align: center; }
  .table-ref__body tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(-webkit-max-content, 60%) minmax(-webkit-max-content, 32%) minmax(-webkit-max-content, 8%);
    -ms-grid-columns: minmax(max-content, 60%) minmax(max-content, 32%) minmax(max-content, 8%);
    grid-template-columns: minmax(-webkit-max-content, 60%) minmax(-webkit-max-content, 32%) minmax(-webkit-max-content, 8%);
    grid-template-columns: minmax(max-content, 60%) minmax(max-content, 32%) minmax(max-content, 8%);
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8; }
    .table-ref__body tr:last-child {
      border-bottom: none;
      padding-bottom: 0; }
    .table-ref__body tr td {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      color: #2E2E2E; }
      .table-ref__body tr td p {
        margin: 0; }
      .table-ref__body tr td:first-child {
        max-width: 60%; }
      .table-ref__body tr td:last-child {
        text-align: center; }

@media screen and (max-width: 730px) {
  .table-ref {
    padding: 20px 7px; }
    .table-ref__head tr {
      -ms-grid-columns: minmax(-webkit-max-content, 200px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 75px);
      -ms-grid-columns: minmax(max-content, 200px) minmax(max-content, 150px) minmax(max-content, 75px);
      grid-template-columns: minmax(-webkit-max-content, 200px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 75px);
      grid-template-columns: minmax(max-content, 200px) minmax(max-content, 150px) minmax(max-content, 75px); }
    .table-ref__body tr {
      -ms-grid-columns: minmax(-webkit-max-content, 200px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 75px);
      -ms-grid-columns: minmax(max-content, 200px) minmax(max-content, 150px) minmax(max-content, 75px);
      grid-template-columns: minmax(-webkit-max-content, 200px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 75px);
      grid-template-columns: minmax(max-content, 200px) minmax(max-content, 150px) minmax(max-content, 75px); }
      .table-ref__body tr td {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: #2E2E2E; }
        .table-ref__body tr td:first-child {
          max-width: 130px; }
        .table-ref__body tr td:last-child {
          text-align: center; } }

.finance-wrap {
  margin-top: 80px; }

@media screen and (max-width: 767px) {
  .finance-title {
    margin-top: 80px; } }

.doc__wrp {
  border: 1px solid #E8E8E8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 10px 20px 20px;
  margin: 20px 0; }

.doc__list {
  max-height: 240px;
  overflow-y: scroll;
  margin: 0; }
  @media screen and (max-width: 767px) {
    .doc__list {
      max-height: 170px; } }
  .doc__list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F9F9F9; }
  .doc__list::-webkit-scrollbar {
    width: 5px;
    background-color: #F9F9F9; }
  .doc__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E8E8E8; }
  .doc__list li {
    margin-bottom: 10px; }
    .doc__list li a {
      padding-left: 40px;
      display: block;
      height: 40px; }
    .doc__list li .pdf {
      background-image: url(/img/icons/pdf1.svg); }
    .doc__list li .xls {
      background-image: url(/img/icons/xls1.svg); }
    .doc__list li .doc {
      background-image: url(/img/icons/doc1.svg); }

.cust-modal3 {
  max-width: 730px;
  margin: 0 auto; }
  .cust-modal3 .get-invc {
    float: right; }

.mod-t {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #E8E8E8; }
  .mod-t .close {
    right: 40px;
    position: absolute; }

.body-mod {
  padding: 40px; }
  .body-mod .t-m-hl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .body-mod .custselect {
    margin-top: 10px; }
  .body-mod .payer {
    margin-left: 110px; }
    .body-mod .payer__name {
      padding: 15px 0;
      margin-top: 10px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #2E2E2E; }
  .body-mod .list-c-orders {
    border: 1px solid #E8E8E8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
    margin-top: 40px; }
    .body-mod .list-c-orders .lscd0 {
      height: 400px;
      overflow-y: scroll;
      padding-right: 20px;
      position: relative; }
      .body-mod .list-c-orders .lscd0::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F9F9F9; }
      .body-mod .list-c-orders .lscd0::-webkit-scrollbar {
        width: 5px;
        background-color: #F9F9F9; }
      .body-mod .list-c-orders .lscd0::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #E8E8E8; }
  .body-mod .sum-cr-inv {
    margin-top: 40px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .body-mod .sum-cr-inv__sum .money {
      margin-top: 20px; }
    .body-mod .sum-cr-inv .invcreated__get {
      margin-left: 190px; }
      .body-mod .sum-cr-inv .invcreated__get input {
        margin: 0; }

.md-invoice-cr {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2E2E2E;
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px; }
  .md-invoice-cr input {
    margin-bottom: 0; }
  .md-invoice-cr:first-child th {
    color: #B4B4B4;
    font-weight: 300 !important; }
  .md-invoice-cr .thdta {
    height: 60px; }
  .md-invoice-cr .tbod td {
    padding-right: 20px; }
  .md-invoice-cr .ssgg0 {
    max-width: 100%; }
    .md-invoice-cr .ssgg0 input {
      max-width: 95px !important; }
  .md-invoice-cr .addline-wrp {
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80px; }
  .md-invoice-cr .addline,
  .md-invoice-cr .removeline {
    display: block;
    border: 1px solid #C3D9F9;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    position: relative;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden; }
    .md-invoice-cr .addline::after,
    .md-invoice-cr .removeline::after {
      position: absolute;
      z-index: 300;
      top: 8px;
      content: '-';
      color: #C3D9F9;
      font-size: 40px;
      line-height: 0; }
  .md-invoice-cr .addline::after {
    content: '+';
    font-size: 20px;
    font-weight: 900;
    top: 11px; }

.st-up {
  background-image: url(/img/icons/st-up.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 15px;
  height: 15px;
  width: 10px; }

.st-down {
  background-image: url(/img/icons/st-down.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 15px; }

.prfbs .sh-result {
  margin-right: 5px; }

.fin-stb .sort-next {
  margin-left: 10px; }

.rwd-table {
  margin: 1em 0;
  min-width: 100%;
  padding: 40px 30px 0px 30px; }
  .rwd-table tr {
    border-bottom: 1px solid #E8E8E8; }
    .rwd-table tr:first-child {
      border-bottom: none; }
    .rwd-table tr:last-child {
      border-bottom: none; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: 0.5em; }
    .rwd-table td:last-child {
      padding-bottom: 0.5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th,
  .rwd-table td {
    text-align: left;
    min-width: 100%; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em; }
        .rwd-table th:first-child,
        .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child,
        .rwd-table td:last-child {
          padding-right: 0; } }

.rwd-table {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2E2E2E;
  display: block;
  overflow: hidden;
  border: 1px solid #E8E8E8 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 80px; }
  @media (max-width: 480px) {
    .rwd-table {
      padding: 20px 10px 0px 10px; } }
  .rwd-table tr:first-child {
    border-top: none;
    cursor: pointer; }
  .rwd-table tr td:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .rwd-table tr td:nth-child(2):before {
      padding-right: 20px; }
  .rwd-table tr td:last-child {
    color: #B4B4B4; }
  .rwd-table th,
  .rwd-table td {
    margin: 1.5em 0em; }
    .rwd-table th:nth-child(1),
    .rwd-table td:nth-child(1) {
      width: 20.5%; }
    .rwd-table th:nth-child(2),
    .rwd-table td:nth-child(2) {
      width: 65%; }
    .rwd-table th:nth-child(3),
    .rwd-table td:nth-child(3) {
      width: 40%; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        padding: 1.3em 0 !important; } }
  .rwd-table th,
  .rwd-table td:before {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #B4B4B4; }

.ord-l {
  margin-left: 5px; }

.feedback-wrapper {
  margin-top: 80px;
  margin-bottom: 80px; }

.main-container {
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.inner-content {
  margin: 40px 0; }

.inner-content input[type="radio"] {
  display: none; }

.inner-content div {
  height: 20px;
  width: 20px;
  background-image: url(/img/icons/star2.svg);
  cursor: pointer; }

.inner-content input[type="radio"]:checked ~ label div {
  background-image: url(/img/icons/star.svg); }

.inner-content {
  direction: rtl; }

.prof-feedback__text {
  min-width: 100%;
  height: 200px;
  margin-bottom: 40px; }

.prof-feedback__sent {
  float: right; }

.profile-wrap {
  margin-top: 80px; }

.prof-nav {
  border-right: 1px solid #C3D9F9;
  height: 100%; }
  .prof-nav ul li {
    margin-bottom: 38px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .prof-nav ul li a {
      width: 100%;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2E2E2E; }
  .prof-nav ul .li-active {
    position: relative; }
    .prof-nav ul .li-active a {
      color: #2173EF; }
    .prof-nav ul .li-active:after {
      display: block;
      content: '';
      background: #2173EF;
      border-radius: 4px;
      width: 5px;
      height: 40px;
      position: absolute;
      right: -3px;
      top: 0; }

.mt1,
.mt2,
.mt3,
.mt4 {
  display: none; }

.profile-data {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 100px;
  position: relative; }
  .profile-data .tb-fl-fir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .profile-data__left {
    width: 50%; }
  .profile-data__right {
    width: 50%; }
    .profile-data__right div {
      float: right; }
      .profile-data__right div input {
        min-width: 100%; }
  .profile-data .avatar {
    margin-top: 0; }
  .profile-data__ch-pass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 57px; }
    .profile-data__ch-pass div input {
      width: 100%; }
    .profile-data__ch-pass div:first-child {
      margin-right: 20px; }
    .profile-data__ch-pass input::-webkit-input-placeholder {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #2E2E2E;
      letter-spacing: 1px; }
    .profile-data__ch-pass input:-ms-input-placeholder {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #2E2E2E;
      letter-spacing: 1px; }
    .profile-data__ch-pass input::-ms-input-placeholder {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #2E2E2E;
      letter-spacing: 1px; }
    .profile-data__ch-pass input::placeholder {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #2E2E2E;
      letter-spacing: 1px; }
  .profile-data .save-ch {
    display: block;
    float: right;
    margin-top: 70px; }

.profile-data-contact {
  display: block;
  width: 300px;
  margin-left: 100px; }
  .profile-data-contact input {
    width: 100%; }
  .profile-data-contact .inf {
    background-image: url(/img/icons/phone.svg);
    background-position: center left 15px;
    padding-left: 45px; }
  .profile-data-contact .plin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #00B512; }
    .profile-data-contact .plin p {
      margin-bottom: 8px; }
  .profile-data-contact .verf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .profile-data-contact .verf p {
      padding: 5px 15px;
      line-height: 16px;
      margin: 0; }
    .profile-data-contact .verf .code {
      margin-left: 52px; }
    .profile-data-contact .verf .code__form {
      margin-right: 0 !important; }
    .profile-data-contact .verf input {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #2E2E2E; }
    .profile-data-contact .verf .tpfr {
      margin: 0;
      padding: 0; }
  .profile-data-contact .save-ch {
    margin-top: 80px;
    float: right; }

.pay-address {
  display: block;
  width: 400px;
  margin-left: 100px; }
  .pay-address__card {
    width: 100%; }
  .pay-address p {
    margin-top: 10px;
    margin-bottom: 20px; }
  .pay-address textarea {
    height: 100px; }
  .pay-address .save-ch {
    float: right;
    margin-top: 60px; }

.profile-set-notifi {
  margin-left: 100px;
  width: 300px; }
  .profile-set-notifi__title {
    margin-bottom: 40px; }
  .profile-set-notifi .save-ch {
    float: right;
    margin-top: 80px; }

.show-content {
  display: block; }

.hide-content {
  display: none; }

@media screen and (max-width: 1200px) {
  .profile-data {
    margin-left: 0; }
    .profile-data__left {
      width: 60%; }
    .profile-data__right {
      width: 40%; } }

@media screen and (max-width: 992px) {
  .profile-data__left {
    width: 100%; }
  .profile-data__right {
    width: 50%; }
    .profile-data__right div {
      float: left; }
  .profile-data .upld__wrp {
    padding: 10px; }
  .profile-data .upld__right {
    padding-left: 10px; }
  .tb-fl-fir {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .profile-data-contact,
  .pay-address,
  .profile-set-notifi {
    margin-left: 0; } }

@media screen and (max-width: 767px) {
  .pay-address {
    max-width: 300px !important; } }

@media screen and (max-width: 575px) {
  .tab-content {
    display: none; }
  .prof-nav {
    border-right: none; }
    .prof-nav .li-active a {
      color: #2E2E2E !important; }
    .prof-nav .li-active::after {
      display: none !important; }
  .mt1,
  .mt2,
  .mt3,
  .mt4 {
    display: block; }
  .mt1 .profile-data {
    display: block; }
  .mt2 .profile-data-contact {
    display: block; }
  .mt3 .pay-address {
    display: block; }
  .mt4 .profile-set-notifi {
    display: block; }
  .mts {
    margin-top: 40px; }
  .prof-nav__item {
    overflow: hidden;
    height: auto !important;
    max-height: 20px !important;
    -webkit-transition: min-height 0.5s;
    -o-transition: min-height 0.5s;
    transition: min-height 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .pr-ni-active {
    min-height: 840px;
    max-height: 800px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .pr-ni-active:nth-child(1) {
      overflow: hidden;
      min-height: 870px; }
    .pr-ni-active:nth-child(2) {
      overflow: hidden;
      min-height: 520px; }
    .pr-ni-active:nth-child(3) {
      overflow: hidden;
      min-height: 560px; }
    .pr-ni-active:nth-child(4) {
      overflow: hidden;
      min-height: 490px; }
  .profile-data-contact,
  .pay-address,
  .profile-set-notifi {
    margin-left: 0 !important; }
  .prof-nav__item {
    border-bottom: 1px solid #E8E8E8;
    margin: 0 !important;
    padding-top: 40px;
    padding-bottom: 60px; }
    .prof-nav__item a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .prof-nav__item a::after {
        display: block;
        content: '';
        background-image: url(/img/icons/ar-59.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 20px;
        height: 20px;
        position: relative;
        left: 15px;
        top: 3px; }
  .it-act a::after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

@media (max-width: 950px) {
  .table-wrap {
    padding: 20px 20px !important;
    overflow-x: scroll !important; }
    .table-wrap .table-1 {
      min-width: 650px; }
      .table-wrap .table-1 tr td:last-child {
        text-align: left; } }

@media (max-width: 867px) {
  .profile-title {
    margin-bottom: 40px; }
  .mob-cr-page {
    display: block;
    margin-bottom: 40px; }
  .mob-flx-h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .mob-flx-h .lk-mob-btn {
      display: block;
      position: relative;
      margin-top: 14px;
      cursor: pointer;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      position: relative; }
      .mob-flx-h .lk-mob-btn::before {
        display: block;
        content: '!';
        min-width: 24px;
        min-height: 24px;
        background: #C03CD6;
        border-radius: 50px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        padding: 2px;
        right: 26px;
        bottom: -5px; }
      .mob-flx-h .lk-mob-btn span {
        display: block;
        width: 24px;
        height: 2px;
        background: #2E2E2E;
        border-radius: 4px; }
        .mob-flx-h .lk-mob-btn span::before {
          position: absolute;
          top: 6px;
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background: #2E2E2E;
          border-radius: 4px; }
        .mob-flx-h .lk-mob-btn span::after {
          position: absolute;
          top: 12px;
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background: #2E2E2E;
          border-radius: 4px; }
  .shadw {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.306); }
  .shadw-active {
    display: block !important; }
  .profile-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    border-radius: 4px 0px 0px 4px;
    width: 320px;
    padding-bottom: 100px;
    overflow-y: scroll !important;
    max-height: 100vh; }
  .profile-menu-mobactive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .item-active::after {
    display: none !important; }
  .mb-men-title {
    display: block !important;
    background: #2173EF;
    border-radius: 4px 0px 0px 0px;
    padding: 20px 40px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .mb-men-title .title-03 {
      color: #fff; }
    .mb-men-title .mbclos {
      cursor: pointer; }
  .profile-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .profile-menu__item {
    width: 100%;
    padding: 20px 40px;
    border-bottom: 1px solid #E8E8E8; }
    .profile-menu__item .add {
      bottom: 17px;
      right: 20px; }
  .profile-menu__helpsec .profile-menu__item {
    margin-right: 0; } }

@media (max-width: 767px) {
  .profile-person {
    padding: 40px 0; } }

@media (min-width: 480px) and (max-width: 1000px) {
  .ovsdfz {
    overflow-y: scroll;
    position: relative;
    min-height: 100%; }
  .table-sort {
    min-width: 1140px; }
  .list-allorder {
    position: relative; }
  .alert-1 {
    position: absolute !important;
    z-index: 1000; } }

@media screen and (max-width: 992px) {
  .btnsortsec {
    margin-top: 40px !important; }
  .res-num {
    margin-top: 40px; } }

@media screen and (max-width: 480px) {
  .ovsdfz {
    overflow-y: hidden !important;
    position: relative;
    max-width: 100%; }
  .table-sort .ct {
    text-align: left; }
  .table-sort__head tr {
    -ms-grid-columns: minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0);
    -ms-grid-columns: minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0);
    grid-template-columns: minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0);
    grid-template-columns: minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0); }
    .table-sort__head tr th {
      display: none; }
      .table-sort__head tr th:first-child, .table-sort__head tr th:nth-child(2) {
        display: block; }
  .table-sort__body tr {
    -ms-grid-columns: minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0);
    -ms-grid-columns: minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0);
    grid-template-columns: minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 150px) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0) minmax(-webkit-max-content, 0);
    grid-template-columns: minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0) minmax(max-content, 0); }
    .table-sort__body tr td {
      display: none; }
      .table-sort__body tr td:first-child, .table-sort__body tr td:nth-child(2) {
        display: block; }
  tr.mob-table {
    background: #F9F9F9;
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
    tr.mob-table td {
      display: block !important;
      width: 150px;
      padding: 10px 0;
      color: #B4B4B4; }
      tr.mob-table td .alert-ico {
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      tr.mob-table td:nth-child(2n) {
        color: #2E2E2E; }
    tr.mob-table .alert-1 {
      position: fixed;
      z-index: 13424234;
      margin: 0 auto !important;
      left: 0;
      right: 0;
      min-width: 320px; } }
