.profile-wrapper {
    padding: 80px 0;
}

.profile-title {
    margin-bottom: 80px;
}

.mob-cr-page {
    display: none;
}

.profile-header {
    border-bottom: 1px solid #C3D9F9;
    display: block;
}

.lk-mob-btn {
    display: none;
}


.profile-menu {
    display: flex;
    justify-content: space-between;

    .mb-men-title {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__helpsec {
        display: flex;
        align-items: center;
        margin: 0;

        li {
            margin-right: 20px;

            a {
                background-image: url(/img/icons/support.svg);
                background-repeat: no-repeat;
                background-position: left center;
                padding-left: 26px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0;
        margin-right: 40px;
        padding: 0;
        padding: 40px 0;
        position: relative;

        a {
            font-family: $opensans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #2E2E2E;

            &:hover {
                color: #2E2E2E;
            }
        }
    }

    .item-active {
        position: relative;

        a {
            color: #2173EF;

            &:hover {
                color: #2173EF;
            }
        }

        &::after {
            display: block;
            content: '';
            height: 5px;
            background: #2173EF;
            border-radius: 4px;
            width: 100%;
            position: absolute;
            bottom: -3px;
        }
    }
}

.add {
    min-width: 24px;
    min-height: 24px;
    background: #C03CD6;
    border-radius: 50px;
    font-family: $opensans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -25px;
    bottom: 54px;
    padding: 2px;
}



.profile-person {
    padding: 80px 0;
}

.profile {
    display: flex;
    align-items: center;
    margin: 10px 0px;

    &__avatar {
        overflow: hidden;
        border-radius: 100px;

        img {
            max-width: 100%;
        }
    }

    &__name {}

    &__rsc {
        margin-left: 20px;
    }
}


.manager {
    background: linear-gradient(121.31deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
    border-radius: 4px;
    padding: 27px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;

    &__name {
        p {
            margin-bottom: 5px;
        }
    }
}





/////  p-other



.p-other {}

.poflx {
    display: flex;
    justify-content: space-between;
}

.replenish {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .btn-01-m {
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

.ls {
    font-family: $opensans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #B4B4B4;
    margin-bottom: 20px;

    span {
        font-size: 16px;
        line-height: 22px;
        color: #2E2E2E;
    }
}

.text-pay {
    font-family: $opensans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #B4B4B4;
    margin-bottom: 20px;
    // margin-top: 20px;
}

.balance {
    background: #F9F9F9;
    border-radius: 4px;
    padding: 40px 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    &__count,
    &__limit {
        display: flex;
        justify-content: space-between;
        font-family: $opensans;
        font-style: normal;

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #B4B4B4;
        }

        span {
            font-weight: bold;
            font-size: 16px;
            line-height: 160%;
            color: #2E2E2E;
        }
    }


}


.last-orders {
    &__line {
        display: flex;
        align-items: center;

        .oos {
            display: flex;
            align-items: center;
            margin-left: 40px;
        }

    }
}



.mttb {
    margin-top: 40px;
}

.table-wrap {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 40px !important;

}


.table-1 {
    tr {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns: 2fr 6fr 3fr 2fr 3fr;
        border-bottom: 1px solid #E8E8E8;
        padding: 20px 0;

        &:last-child {
            border-bottom: none;
        }

        td {
            &:last-child {
                text-align: right;
            }
        }
    }
}












/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////// PROFILE O R D E R S 
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////





.allorders {
    margin: 40px 0;

    .alflx {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 40px;
    }
}

.sort-line {
    margin: 70px 0 40px 0;

    .form-group {
        position: relative;
        margin: 0;

        label {
            position: absolute;
            margin: 0;
            top: -20px;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            color: rgba(0, 0, 0, 0);
            opacity: 1;
            display: block;
            background: url(/img/icons/calendar.svg) no-repeat center center;
            background-size: 17px 17px;
            width: 20px;
            height: 20px;
            border-width: thin;
        }

        input {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-right: 10px;
            padding-left: 10px;
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #2E2E2E;
        }
    }

    .sh-result {
        margin-right: 20px;
    }

    .res-num {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            position: absolute;
            top: -20px;
        }

        .select-3 {
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #2E2E2E;
            padding: 14px 20px;
            margin: 0;
            width: 95px;
        }
    }

    .sort-np {
        display: flex;
        align-items: center;
    }

    .sort-prev,
    .sort-next {
        width: 20px;
        height: 20px;
        display: block;
        background-color: #B4B4B4;
        mask-image: url(/img/icons/ar_l_g.svg);
        mask-repeat: no-repeat;

        &:hover,
        &:active,
        &:focus {
            background-color: #2173EF;
        }
    }

    .sort-next {
        transform: rotate(-180deg);
        margin-bottom: 5px;
        margin-left: 30px;
    }
}




.table-sort{
    min-width: 100%;
    &__head{
        tr{
            display: grid;
            justify-content: space-between;
            // grid-template-columns: 70px 190px 60px 100px 100px 100px 150px 150px 165px;
            grid-template-columns: 
            minmax(max-content, 75px)
            minmax(max-content, 190px)
            minmax(max-content, 60px)
            minmax(max-content, 100px)
            minmax(max-content, 100px)
            minmax(max-content, 100px)
            minmax(max-content, 150px)
            minmax(max-content, 150px)
            minmax(max-content, 140px);
            th{
                font-family: $opensans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #B4B4B4;
                cursor: pointer;
            }
        }
    }

    &__body{
        tr{
            display: grid;
            justify-content: space-between;
            grid-template-columns: 
            minmax(max-content, 75px)
            minmax(max-content, 190px)
            minmax(max-content, 60px)
            minmax(max-content, 100px)
            minmax(max-content, 100px)
            minmax(max-content, 100px)
            minmax(max-content, 150px)
            minmax(max-content, 150px)
            minmax(max-content, 140px);
            padding: 20px 0; 
            border-bottom: 1px solid #E8E8E8;
 
            td{
                font-family: $opensans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 180%;
                color: #2E2E2E;
            }
        }
    }
    .ct{
        text-align: center;
    }

    .alert-ico{
        border: 1px solid #C3D9F9;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        display: block;
        margin: 0 auto;
        color: #C3D9F9;
        cursor: pointer;
    }

    .sort{
        font-size: 10px;
        position: absolute;
        margin-left: 2px;
        color: #C3D9F9;
        transition: 0.3s;
    }
    .sort-active{
        color: #2173EF;
        transform: rotate(180deg);
    }
}