.profile-wrapper {
    padding: 80px 0;
}

.profile-title {
    margin-bottom: 80px;
    font-size: 26px;
}

.mob-cr-page {
    display: none;
}

.profile-header {
    border-bottom: 1px solid #C3D9F9;
    display: block;
}

.lk-mob-btn {
    display: none;
}

.profile-menu {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;

    .mb-men-title {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__helpsec {
        display: flex;
        align-items: center;
        margin: 0;

        li {
            margin-right: 20px;

            a {
                background-image: url(/img/icons/support.svg);
                background-repeat: no-repeat;
                background-position: left center;
                padding-left: 26px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0;
        margin-right: 40px;
        padding: 0;
        padding: 40px 0;
        position: relative;

        a {
            font-family: $opensans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #2E2E2E;

            &:hover {
                color: #2E2E2E;
            }
        }
    }

    .item-active {
        position: relative;

        a {
            color: #2173EF;

            &:hover {
                color: #2173EF;
            }
        }

        &::after {
            display: block;
            content: '';
            height: 5px;
            background: #2173EF;
            border-radius: 4px;
            width: 100%;
            position: absolute;
            bottom: -3px;
        }
    }
}

.add {
    min-width: 24px;
    min-height: 24px;
    background: #C03CD6;
    border-radius: 50px;
    font-family: $opensans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -25px;
    bottom: 54px;
    padding: 2px;
}



.profile-person {
    padding: 80px 0;
}

.profile {
    display: flex;
    align-items: center;
    margin: 10px 0px;

    &__avatar {
        overflow: hidden;
        border-radius: 100px;

        img {
            max-width: 100%;
        }
    }

    &__name {}

    &__rsc {
        margin-left: 20px;
    }
}


.manager {
    background: linear-gradient(121.31deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
    border-radius: 4px;
    padding: 27px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;

    &__name {
        p {
            margin-bottom: 5px;
        }
    }
}





/////  p-other



.poflx {
    display: flex;
    justify-content: space-between;
}

.replenish {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .btn-01-m {
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

.ls {
    font-family: $opensans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #B4B4B4;
    margin-bottom: 20px;

    span {
        font-size: 16px;
        line-height: 22px;
        color: #2E2E2E;
    }
}

.text-pay {
    font-family: $opensans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #B4B4B4;
    margin-bottom: 20px;
    // margin-top: 20px;
}

.balance {
    background: #F9F9F9;
    border-radius: 4px;
    padding: 40px 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    &__count,
    &__limit {
        display: flex;
        justify-content: space-between;
        font-family: $opensans;
        font-style: normal;

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #B4B4B4;
        }

        span {
            font-weight: bold;
            font-size: 16px;
            line-height: 160%;
            color: #2E2E2E;
        }
    }


}


.last-orders {
    &__line {
        display: flex;
        align-items: center;

        .oos {
            display: flex;
            align-items: center;
            margin-left: 40px;
        }

    }
}



.mttb {
    margin-top: 40px;
}

.table-wrap {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 40px !important;

}


.table-1 {
    tr {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns: 2fr 6fr 3fr 2fr 3fr;
        border-bottom: 1px solid #E8E8E8;
        padding: 20px 0;

        &:last-child {
            border-bottom: none;
        }

        td {
            &:last-child {
                text-align: right;
            }
        }
    }
}












/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////// PROFILE O R D E R S 
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////





.allorders {
    margin: 40px 0;

    .alflx {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 40px;
    }
}

.sort-line {
    margin: 70px 0 40px 0;

    .form-group {
        position: relative;
        margin: 0;

        label {
            position: absolute;
            margin: 0;
            top: -20px;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            color: rgba(0, 0, 0, 0);
            opacity: 1;
            display: block;
            background: url(/img/icons/calendar.svg) no-repeat center center;
            background-size: 17px 17px;
            width: 20px;
            height: 20px;
            border-width: thin;
        }

        input {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-right: 7px;
            padding-left: 10px;
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #2E2E2E;
        }
    }

    .sh-result {
        margin-right: 20px;
    }

    .res-num {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            position: absolute;
            top: -20px;
        }

        .select-3 {
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #2E2E2E;
            padding: 14px 20px;
            margin: 0;
            width: 95px;
        }
    }

    .btnsortsec {
        display: flex;
        align-items: center;
    }

}



.sort-np {
    display: flex;
    align-items: center;
}

.sort-prev,
.sort-next {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #B4B4B4;
    mask-image: url(/img/icons/ar_l_g.svg);
    mask-repeat: no-repeat;

    &:hover,
    &:active,
    &:focus {
        background-color: #2173EF;
    }
}

.sort-next {
    transform: rotate(-180deg);
    margin-bottom: 5px;
    margin-left: 30px;
}



.table-sort {
    min-width: 100%;

    &__head {
        tr {
            display: grid;
            justify-content: space-between;
            margin-bottom: 20px;
            grid-template-columns:
                minmax(max-content, 85px) minmax(max-content, 190px) minmax(max-content, 60px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 140px);

            th {
                font-family: $opensans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #B4B4B4;
                cursor: pointer;
            }
        }
    }

    &__body {
        .mob-table {
            display: none;
        }

        tr {
            display: grid;
            justify-content: space-between;
            grid-template-columns:
                minmax(max-content, 85px) minmax(max-content, 190px) minmax(max-content, 60px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 100px) minmax(max-content, 150px) minmax(max-content, 150px) minmax(max-content, 140px);
            padding: 20px 0;
            border-bottom: 1px solid #E8E8E8;

            &:hover {
                background: #F9F9F9 !important;
                border-bottom: 1px solid #F9F9F9;
            }

            td {
                font-family: $opensans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 180%;
                color: #2E2E2E;
            }
        }
    }
}

.ct {
    text-align: center;
    position: relative;
}

// alert icon
.alert-ico {
    border: 1px solid #C3D9F9;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    color: #C3D9F9;
    cursor: pointer;
}

.alert-ico-active {
    background: #2173EF;
    color: #fff;
    border: 1px solid #2173EF;
}

// END alert icon

// sort
.sort {
    font-size: 10px;
    position: absolute;
    margin-left: 2px;
    color: #C3D9F9;
    transition: 0.3s;
}

.sort-active {
    span {
        color: #2173EF;
        transform: rotate(180deg);
    }
}

// END sort

.alert-1 {
    display: none;
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    min-width: 390px;
    max-width: 390px;
    top: 37px;
    text-align: left;
    margin-bottom: 20px;

    &__head {
        border-bottom: 1px solid #E8E8E8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    &__close {
        cursor: pointer;
    }
}


.alert-2 {
    right: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: 37px;

}


.alert-docs {
    background: #F9F9F9;
    border-radius: 4px;
    padding: 20px;
    margin-top: 37px;

    h4 {
        margin-bottom: 20px;
    }

    a {
        display: inline-block;
    }
}



.create-invoice {
    margin-top: 80px;
}



.invcreated {
    max-width: 375px !important;

    .modal-header {
        padding: 40px;
    }

    &__body {
        padding: 40px !important;
    }

    &__list {
        padding: 40px 0 80px 0;

        span {
            font-family: $opensans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: #2E2E2E;
        }
    }
}

.invcreated__get {}

.fr-hd {
    display: none;
}

.fr-hd-active {
    display: block;
}





////////////////
////////////////////////////////
////////////////
////   PARTNERKA   ////////////////
////////////////
////////////////////////////////
////////////////


.partnerka {
    margin: 40px 0;
}

.flx-ref {
    display: flex;
    justify-content: space-between;
}

.percent {
    display: flex;
    background: #F9F9F9;
    border-radius: 4px;
    margin: 40px 0;
    justify-content: space-around;

    &__sec {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;
        width: 50%;

        &:first-child {
            border-right: 1px solid #E8E8E8;
        }
    }

    &__num {
        margin-bottom: 10px;
        background: linear-gradient(123.69deg, #2173EF 15.6%, #C03CD6 85.6%);
        display: table;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $opensans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

}

.about-referal {
    margin-top: 40px;

    p {
        padding: 20px 0;
    }
}


.generate-ref {
    background: linear-gradient(99.71deg, #ECF4FF 15.6%, #FDF1FF 85.6%);
    border-radius: 4px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    .copy-link {
        margin-bottom: 80px;
    }

    .lbl {
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .ref-form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin: 0;
        }

        input {
            margin: 0;
            width: 300px;
        }
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        .ref-form {
            input {
                width: 200px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 950px) {
        .ref-form {
            display: flex;
            flex-flow: column;
            align-items: flex-start;

            input {
                width: 300px;
                margin-bottom: 20px;
            }
        }
    }

    @media screen and (max-width: 576px) {
        .ref-form {
            display: flex;
            flex-flow: column;
            align-items: flex-start;

            input {
                width: 300px;
                margin-bottom: 20px;
            }
        }
    }

    @media screen and (max-width: 410px) {
        .ref-form {
            input {
                width: 240px;
                margin-bottom: 20px;
            }
        }
    }
}


.head-title-ref {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.table-ref {
    min-width: 100%;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    display: grid;
    padding: 40px 30px;
    margin-top: 40px;
    margin-bottom: 80px;

    &__head {
        tr {
            display: grid;
            grid-template-columns:
                minmax(max-content, 60%) minmax(max-content, 32%) minmax(max-content, 8%);
            padding-bottom: 20px;

            th {
                font-family: $opensans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #B4B4B4;
                cursor: pointer;

                &:last-child {
                    text-align: center;
                }
            }
        }
    }

    &__body {
        tr {
            display: grid;
            grid-template-columns:
                minmax(max-content, 60%) minmax(max-content, 32%) minmax(max-content, 8%);
            padding: 20px 0;
            border-bottom: 1px solid #E8E8E8;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

            td {
                p {
                    margin: 0;
                }

                &:first-child {
                    max-width: 60%;
                }

                font-family: $opensans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 180%;
                color: #2E2E2E;

                &:last-child {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .table-ref {
        padding: 20px 7px;

        &__head {
            tr {
                grid-template-columns:
                    minmax(max-content, 200px) minmax(max-content, 150px) minmax(max-content, 75px);
            }
        }

        &__body {
            tr {
                grid-template-columns:
                    minmax(max-content, 200px) minmax(max-content, 150px) minmax(max-content, 75px);

                td {
                    &:first-child {
                        max-width: 130px;
                    }

                    font-family: $opensans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 180%;
                    color: #2E2E2E;

                    &:last-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}











////////////////
////////////////
//// FINANCE ///////
////////////////
////////////////


.finance-wrap {
    margin-top: 80px;
}

@media screen and (max-width: 767px){
    .finance-title{
        margin-top: 80px;
    }       
}

.doc {
    &__wrp {
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 20px 10px 20px 20px;
        margin: 20px 0;
    }

    &__list {
        max-height: 240px;
        overflow-y: scroll;
        margin: 0;

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: #F9F9F9;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #F9F9F9;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #E8E8E8;
        }

        li {
            margin-bottom: 10px;

            a {
                padding-left: 40px;
                display: block;
                height: 40px;
            }

            .pdf {
                background-image: url(/img/icons/pdf1.svg);
            }

            .xls {
                background-image: url(/img/icons/xls1.svg);
            }

            .doc {
                background-image: url(/img/icons/doc1.svg);
            }
        }
    }
}

.st-up {
    background-image: url(/img/icons/st-up.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 15px;
    height: 15px;
    width: 10px;
}

.st-down {
    background-image: url(/img/icons/st-down.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 15px;
}


.prfbs{
    .sh-result{
        margin-right: 5px;
    }
}

.fin-stb{
    .sort-next{
        margin-left: 10px;
    }
}


$breakpoint-alpha: 480px; 

.rwd-table {
    margin: 1em 0;
    min-width: 100%; 
    padding: 40px 30px 0px 30px;

    tr {
        border-bottom: 1px solid #E8E8E8;
        &:first-child{
            border-bottom: none;
        }
        &:last-child{
            border-bottom: none;
        }
    }

    th {
        display: none; 
    }

    td {
        display: block;
        &:first-child {
            padding-top: 0.5em;
        }
        &:last-child {
            padding-bottom: 0.5em;
        }
        &:before {
            content: attr(data-th) ": "; 
            font-weight: bold;
            width: 6.5em; 
            display: inline-block;

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th,
    td {
        text-align: left;
        min-width: 100%;
        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: 0.25em 0.5em;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.rwd-table {
    font-family: $opensans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2E2E2E;
    display: block;
    overflow: hidden;
    border: 1px solid #E8E8E8 !important;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 80px;
    @media (max-width: $breakpoint-alpha){
        padding: 20px 10px 0px 10px;
    }
    tr {
        &:first-child{
            border-top: none;
            cursor: pointer;
        }
        td{
            &:nth-child(2){
                display: flex;
                &:before{
                    padding-right: 20px;
                }
            }
            &:last-child{
                color: #B4B4B4;
            }
        }
    }

    th,
    td {
        margin: 1.5em 0em;
        &:nth-child(1){
            width: 20.5%;
        }
        &:nth-child(2){
            width: 65%;
        }
        &:nth-child(3){
            width: 40%;
        }
        @media (min-width: $breakpoint-alpha) {
            padding: 1.3em 0 !important;
        }
    }

    th,
    td:before {
        font-family: $opensans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #B4B4B4;
    }
}

.ord-l{
    margin-left: 5px;
}